<launch>
  <node pkg="rosbag" 
        type="play" 
        name="playe" 
        output="screen" 
        args="/home/austin/data/0203_1653/subt_0.bag
              /home/austin/data/0203_1653/subt_1.bag
              /home/austin/data/0203_1653/subt_2.bag
              /home/austin/data/0203_1653/subt_3.bag
              /home/austin/data/0203_1653/subt_4.bag
              /home/austin/data/0203_1653/subt_5.bag
              /home/austin/data/0203_1653/subt_6.bag
              /home/austin/data/0203_1653/subt_7.bag
              /home/austin/data/0203_1653/subt_8.bag
              /home/austin/data/0203_1653/subt_9.bag
              /home/austin/data/0203_1653/subt_10.bag
              /home/austin/data/0203_1653/subt_11.bag
              /home/austin/data/0203_1653/subt_12.bag
              /home/austin/data/0203_1653/subt_13.bag
              /home/austin/data/0203_1653/subt_14.bag"/>
  <node name="Crash_detect" 
        pkg="Crash" 
        type="Crash_detect.py" />
   
</launch>
